<link rel="stylesheet" href="/stylesheets/index.css">
<h1>hello world haha</h1>
<div class="main">
  <div class="row1">
    <a href="/melbourne"><div class="mel">
      <h1>MELBOURNE</h1>
    </div></a>
    <a href="/sydney"><div class="syd">
       <h1>SYDNEY</h1>
    </div></a>
    <a href="/brisbane"><div class="bri">
       <h1>BRISBANE</h1>
    </div></a>
  </div>
  <div class="row2">
    <a href="/perth"><div class="perth">
       <h1>PERTH</h1>
    </div></a>
    <a href="/darwin"><div class="darwin">
       <h1>DARWIN</h1>
    </div></a>
    <a href="/cairns"><div class="cairns">
       <h1>CAIRNS</h1>
    </div></a>

  </div>

</div>
