<h1>Host Sign Up</h1>

<form class="" action="/hosts" method="post">
  
  <label for="">Name</label>
  <input type="text" name="name" value=""><br><br>
  <label for="">Email</label>
  <input type="text" name="email" value=""><br><br>
  <label for="">Profile Photo Url</label>
  <input type="text" name="photo_url" value=""><br><br>
  <label for="">Password</label>
  <input type="password" name="password" value=""><br><br>
  <button>Create</button>
</form>
