
<form class="" action="/houses" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <label>City</label>
  <input type="radio" name="city" value="Melbourne">
  <label for="">Melbourne</label>
  <input type="radio" name="city" value="Sydney">
  <label for="">Sydney</label>
  <input type="radio" name="city" value="Brisbane">
  <label for="">Brisbane</label>
  <input type="radio" name="city" value="Perth">
  <label for="">Perth</label>
  <input type="radio" name="city" value="Darwin">
  <label for="">Darwin</label>
  <input type="radio" name="city" value="Cairns">
  <label for="">Cairns</label><br><br>
  <label>Address</label>
  <input type="text" name="address" value=""><br><br>
  <label>Title</label>
  <input type="text" name="title" value=""><br><br>
  <label>Guest</label>
  <input type="text" name="guest" value=""><br><br>
  <label>Beds</label>
  <input type="text" name="beds" value=""><br><br>
  <label>Bath</label>
  <input type="text" name="bath" value=""><br><br>
  <label>Kitchen</label>
  <input type="text" name="kitchen" placeholder="Available / Not Available"><br><br>
  <label>Headlines</label>
  <textarea name="headlines" value=""></textarea><br><br>
  <label>About Space</label>
  <textarea name="about_space" value=""></textarea><br><br>
  <label>Guest Access</label>
  <textarea name="guest_access"></textarea><br><br>
  <label>Cancellations</label>
  <textarea name="cancellations"></textarea><br><br>
  <label>House Rules</label>
  <textarea name="house_rules"></textarea><br><br>
  <label>house_image1</label>
  <input type="text" name="house_image1" value=""><br><br>
  <label>house_image2</label>
  <input type="text" name="house_image2" value=""><br><br>
  <label>house_image3</label>
  <input type="text" name="house_image3" value=""><br><br>
  <label>house_image4</label>
  <input type="text" name="house_image4" value=""><br><br>
  <label>house_image5</label>
  <input type="text" name="house_image5" value=""><br><br>
  <button>Register</button>
</form>
