<h1>Show for host</h1>
<p>Name : <%= @user.name %></p>
<p>Email : <%= @user.email %></p>
<img src="<%= @user.img_url %>", width="300px", height="300px">

<a href="/users/<%= @user.id %>/register_house">Get Started</a>
